*.o
*~
*.log
.deps/
.sconf_temp/
*.dSYM/
*.trs
localSconsLib.pyc
config.log
.sconsign.dblite
config.h
config.status
autom4te.cache/
/Makefile
include/Makefile
lib/Makefile
lib/libMTToolBox.a
slide/*.dvi
slide/*.aux
slide/*.log
slide/*.blg
slide/*.nav
slide/*.snm
slide/*.toc
slide/*.pdf
test/Makefile
test/*.passed
test/test1
test/test2
test/test_rlittle
test/test_rtiny
samples/Makefile
samples/dSFMTdc/Makefile
samples/dSFMTdc/dSFMTdc
samples/dSFMTdc/calc_equidist
samples/dSFMTdc/calc_fixpoint
samples/dSFMTdc/calc_parity
samples/dSFMTdc/test_linearity
samples/MTDC/Makefile
samples/MTDC/mt1
samples/MTDC/mt2
samples/MTGPDC/Makefile
samples/MTGPDC/MTGP32dc
samples/MTGPDC/test
samples/sfmtdc/Makefile
samples/sfmtdc/sfmtdc
samples/sfmtdc/sfmtdcfixed
samples/sfmtdc/calc_equidist
samples/sfmtdc/test_linearity
samples/sfmtdc/test_period
samples/TinyMTDC/tinymt32dc
samples/TinyMTDC/Makefile
samples/XORSHIFT/Makefile
samples/XORSHIFT/xorshift1
samples/XORSHIFT/xorshift2
samples/XORSHIFT/xorshift3
samples/XORSHIFT/xorshift4
samples/XORSHIFT/xorshift5
samples/XORSHIFT/xorshift128
samples/RMT/Makefile
samples/RMT/rmt64dc
samples/RMT/calc_equidist
samples/RMT/calc_fixpoint
samples/RMT/calc_period
