*.o
*~
.sconf_temp/
localSconsLib.pyc
config.log
.sconsign.dblite
lib/libMTToolBox.a
slide/*.dvi
slide/*.aux
slide/*.log
slide/*.blg
slide/*.nav
slide/*.snm
slide/*.toc
slide/*.pdf
test/*.passed
test/test1
test/test2
test/test_rlittle
test/test_rtiny
samples/MTDC/mt1
samples/MTDC/mt2
samples/MTGPDC/MTGP32dc
samples/MTGPDC/test
samples/TinyMTDC/tinymt32dc
samples/XORSHIFT/xorshift-1
samples/XORSHIFT/xorshift-2
samples/XORSHIFT/xorshift-3
samples/XORSHIFT/xorshift-4
samples/XORSHIFT/xorshift-5
samples/XORSHIFT/xorshift128